.bars{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 10px;
    text-align: center;
}

.bar1, .bar2, .bar4 :hover, {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.bars a {
  display: inline-block;

   width: auto;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  float: left;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid #ccc!important;
  text-align: center!important;
}

.bars a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.bars a.active {
  background-color: salmon;
  color: white;
}

.bars {
  text-align: center;
  border-bottom: 1px solid #555;
}
.bars:last-child {
  border-bottom: none;
}

/*mdkmkfmdkfmkdfmkdmfkdfkfkmfkdmfd*/


body{
  background:white;
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  padding:30px;

}

h3{font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight:700;
  line-height: 5px;
  text-align: center;
 
}

#ink{
-webkit-text-decoration: black underline;
  text-decoration: black underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  color: black;
  font-family: 'Bowlby One SC', cursive;
  font-size: 70px;
  font-weight:700;
  line-height: 8px;
  text-align: center;
}

.deswrap {
  width: 50%;
  margin: 0 auto;
}

.des{
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px;
  text-align: center;
  display:inline-block;
  left:10px;
  position:relative;
}

ul.a {
  list-style-type: square;
}


.pat{
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  font-weight:500;
  line-height: 30px;
}

ol.a{
  position: relative;
}

ol.b{
  /*position:relative; left:200px; width: 600px;*/
  
  display:inline-block;
  /*background-color:lightgray ;
  opacity:0.2px;
  padding: 20px;*/
  text-align:left;
  position: relative;
  width: 700px;
  
}

.left {
  position: relative; 
  float: left;
}

.right {
  position: relative;
  float: right;
}

.recipe{
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  font-weight:500;
  /*line-height: 30px;*/

}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: black;
  font-family: 'Bowlby One SC', cursive;
  font-weight: bold;
}