/*.bars{*/
    padding: 8px 16px;
    float: center;
    width: auto;
    border: none;
    display: block;
    outline: 5px;
    text-align: center;
}

.bar1, .bar2, .bar4 :hover, {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.bars a {
  display: inline-block;
  width: auto;
  color: black;
  padding: 13px 23px;
  text-decoration: none;
  position:relative;
  left:285px;
  float: center;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid#1F618D!important;
  text-align: center!important;
}

.bars a:hover:not(.active) {
  background-color: #1F618D;
  color: white;
}

/*.bars a.active {*/
  background-color: salmon;
  color: white;
}

.bars {
  text-align: center;
  border-bottom: 1px solid #1F618D;
}
.bars:last-child {
  border-bottom: none;
}

/*mdkmkfmdkfmkdfmkdmfkdfkfkmfkdmfd*/


body{
  background:white;
  color:rgb(2, 31, 62);
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  padding:30px;

}

h3{
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight:700;
  line-height: 5px;
  text-align: center;
 
}

#ink{
-webkit-text-decoration: rgb(2, 31, 62) underline;
  text-decoration: rgb(2, 31, 62) underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  color: #1C304A;
  font-family: 'Bowlby One SC', cursive;
  font-size: 120px;
  font-weight:700;
  line-height: 8px;
  text-align: center;
}

.deswrap {
  width: 50%;
  margin: 0 auto;
}

.des{
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-align: center;
  display:inline-block;
  left:10px;
  position:relative;
}

