body{	
    /*color: #F5B7B1  ;*/
		/*background-color:#F5B041;*/
		padding:50px;
		background-image: linear-gradient(to bottom, #F5B041 67%, #AEB6BF 33% );
  /*background-attachment:fixed;*/
  /*background-repeat: no-repeat;*/
margin:0px;
}



h1{	font-family: 'Noticia Text', serif;
	font-size: 25px;
	color:rgb(193,48,33);
  
}

.anno{font-family: 'Noticia Text', serif;
  font-size: 15px;
  color:#784212  ;

}

.fi{font-size: 30px;
  position:relative;
      width: -160px;
      height: 20px;
      line-height: 30px;


}
/*#28B463*/
.wrong{
  font-family: 'Noticia Text', serif;
	font-size: 33px;
	font-weight:700;
	font-style: italic;
	color:rgb(193,48,33);
}

#ink {
  -webkit-text-decoration: #5B2C6F underline;
  text-decoration: #5B2C6F underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  color: #5B2C6F;
  font-size: 68px;
  font-weight:700;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(193,48,33), #5B2C6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ink:hover {
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(.5); /* Safari 3-8 */
  transform: scale(1.05); 
}
  
  


#lobby{
	font-size: 90px;
	/*text-align: center;*/
	/*color: #C0392B  ;*/
  -webkit-text-fill-color:#C0392B;
  -webkit-text-stroke-width: 3.8px;
  -webkit-text-stroke-color: #5B2C6F;
  text-shadow:
       3px 3px 0 #000,
     -4px -4px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       2px 2px 0 #5B2C6F;
   	transform: skewY(10deg);

  -webkit-text-decoration: slateblue solid underline;
  text-decoration: slateblue solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;

}
#lobby:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x repeat-y;
  background-size: 2%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}



h2{	font-family: 'Cuprum', sans-serif;
	font-size: 20px;
	font-weight:400;
	font-style:italic;
	text-align: right;
	color: #5D6D7E

}

#gu{font-family: 'Cuprum', sans-serif;
	font-size: 30px;
	font-weight:700;
  color: #5D6D7E;
	position: relative;
  	width: 800px;
  	height: 20px;
  	/*text-shadow: */
     3px 0px 3px #5D6D7E,
    -4px 0px 4px #F4F6F7,
     3px 0px 3px #F4F6F7,
    -4px 0px 4px #F4F6F7;

}

#gu2{font-family: 'Cuprum', sans-serif;
	font-size: 26px;
	font-weight:700;
  color: #5D6D7E;
	position: relative;
  top: 40px;
    left: 620px;
  	/*width: 900px;*/
  	/*height: 60px;*/
    line-height: -20px;
    text-align: left;

}

#uncanny{
  font-family: 'Noticia Text', serif;
  font-size: 25px;
  color:rgb(193,48,33);
  font-weight:700;
  position: relative;
    top: 40px;
    left: -450px;


}

.highlight {font-family: 'Cuprum', sans-serif;
	font-size: 80px;
	font-weight:700;
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #D7DBDD 100%, #D7DBDD  100%);
    position: relative;
  	top: 40px;
  	right: 400px;

}

.highlight:hover{


  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.zero{font-size: 80px; 
      position:relative;
      width: -160px;
      height: 20px;
      line-height: 30px;
}

.first{
    color: #BB8FCE;
    font-family: 'Noticia Text', serif;
    font-size: 26px;
    transform: skewY(2deg);
  background: -webkit-linear-gradient(rgb(193,48,33), rgb(193,48,33));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   position: relative;
       top: 80px;
    right: -130px;



}

.second{
    color: #AF7AC5;
    font-family: 'Noticia Text', serif;
    font-size: 30px;
    transform: skewY(-5deg);
      background: -webkit-linear-gradient(rgb(193,48,33), #BB8FCE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
       top: -10px;
    right: -200px;
      

}

.third{
    color: #A569BD;
    font-family: 'Noticia Text', serif;
    font-size: 40px;
    transform: skewY(7deg);
     background: -webkit-linear-gradient(#A569BD, #7D3C98 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
    top: 80px;
    right: -150px;

}

.fourth{
    color:#7D3C98;
    font-family: 'Noticia Text', serif;
    font-size: 55px;
    transform: skewY(-9deg);
    background: -webkit-linear-gradient(#5B2C6F,#8E44AD  );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    position: relative;
    top: -70px;
    right: -200px;

}

.fifth{
    color:#7D3C98;
    font-family: 'Noticia Text', serif;
    font-size: 70px;
    transform: skewY(-9deg);
    background: -webkit-linear-gradient(#8E44AD ,#4A235A  );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    position: relative;
    top: -260px;
    right: -375px;

}

span.test3 {
  	writing-mode: vertical-rl; 
}

p.test {
  	writing-mode: vertical-rl;
  	font-family: 'Noticia Text', serif;
	font-size: 20px;
	color: #28B463;
	position: relative;
  	top: -70px;
  	right: -100px;

}

p.test2 {
  	writing-mode: vertical-rl;
  	font-family: 'Noticia Text', serif;
	font-size: 20px;
	color: #28B463;
	position: relative;
  	top: -150px;
  	right: -130px;

}

#strike {
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  font-weight:700;
  color: #5D6D7E;
  -webkit-text-decoration-color: red;
  text-decoration-color: #D7DBDD  ;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}
