#lowercase- {
  width:400px;
  height:500px;
  /*border: 1px solid black;*/
  
}

#lowercase-x{ 
  width: 100px;
  height: 100px;
  border-right: 30px solid turquoise;
  border-top: 30px solid turquoise;
  border-left: 30px solid transparent; 
  border-bottom: 30px solid turquoise;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  position:absolute;
  top:200px;
  left:10px;

    }
  
#lowercase-x2{ 
  width: 100px;
  height: 100px;
  border-right: 30px solid transparent;
  border-top: 30px solid turquoise;
  border-left: 30px solid turquoise;
  border-bottom: 30px solid turquoise;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  position:absolute;
  top:200px;
  left:140px;
    }



pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}