body{
  background-color:#666;
  font-size: 30px;
  font-family: futura;
  color:#fff;
  padding:20px;
}

#time{
  font-size: 16vw;
  display: flex;
  justify-content: center;
  color:gold;
}

#contnet{
  font-size: 100px;
}

#orange {
  background-color: orange;
}
