.pat{
  font-family: 'Bowlby One SC', cursive;
  font-size: 35px;
  font-weight:700;
  line-height: 50px;
  color:rgb(44, 177, 80);
}

.left {
  position: relative; 
  float: center;
}

/*mdkmkfmdkfmkdfmkdmfkdfkfkmfkdmfd*/

.container {
  margin: 0px auto;
  max-width: 700px;
  position:relative;
  top:-10px;
  color: #C0392B ;
  font-family: 'Ubuntu', sans-serif;
  font-size:30px;
  font-weight:400;
   line-height:20px;
}

input[type = "checkbox"]:checked + label {
  text-decoration: line-through;
  color:#FFB300 ;
}

.boxhead a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  color:gray;
  position:relative;
  top:-20px;


}

body{
  background-color:#FFB300 ;
}



/*#cbox1 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox2 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox3 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox4 {*/
  color:blue;
  text-decoration: line-through;
}


/*#cbox5 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox6 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox7 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox8 {*/
  color:blue;
  text-decoration: line-through;
}

/*#cbox9 {*/
  color:blue;
  text-decoration: line-through;
}



