body{
	background-color:beige;
}

#three{
margin-left:10px;
position:relative;
animation:we 5s infinite;

}
@keyframes we {
  0%   {top: 0px;}
  25%  {top: 250px;}
  75%  {top: 100px}
  100% {top: 200px;}
}

#one{
transition:all 1s ease-in-out;
margin-left:300px;	
}
#one:hover{
background-color:lightsalmon;
margin-left:30px;
transform: rotate(40deg) scale(2,2)
skew(10deg,10deg);
animation-duration: 3s
}

#two{
margin-left:20px;
transition:all 1s;
animation-name:are;
animation-duration: 8s
}
#two:hover{
transform: scale(1.5); 

}
@keyframes are {
	10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  10%, 80% {
    transform: translate3d(2opx, 0, 0);
  }

  20%, 50%, 70% {
    transform: translate3d(-40px, 0, 0);
  }

  30%, 60% {
    transform: translate3d(40px, 0, 0);
  }

}

#toggle {
    width: 100px;
    height: 100px;
    background: red;
  }

