body{
	/*font-family: 'Concert One', cursive;*/
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Corben', cursive;*/
	font-size: 40px;
	font-weight: 600;	
	color: #454;
	background-color: lightsalmon;
}

#gate {
	/*position:absolute;*/
	/*margin-left:300px;*/
	/*margin-top:300px;*/
	cursor: pointer;
  	margin-top: 200px;
  	margin-left: 190px;
  	
}

#egg {
	/*position:absolute;*/
	/*left:1000px;*/
	/*top:300px;*/
	cursor: pointer;
	margin-bottom: 20px;
	margin-right:-200px;
    
}
