body {
	/*font-family: 'Concert One', cursive;*/
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Corben', cursive;*/
	font-size: 40px;
	font-weight: 600;	
	color: #454;
	background-color: lightblue;
}

#wrapper{
	position:relative;
}

#gate {
	cursor: pointer;
	position:absolute;
  	top: 50%;
  	left: 20%;	
}

#gate2 {
	cursor: pointer;
	position:absolute;
  	top: 10%;
  	left: 50%;	
}

#gate3{
	cursor: pointer;
	position:absolute;
	top:15%;
	left:10%;
}

#eggyolk {
	position:absolute;
	top: 65%;
  	left: 35%;
  	z-index: 10;
	width: 200px;
    height: 100px;
    background: gold;
    border-radius: 100px / 50px;
}

#egg {
	cursor: pointer;
	margin-bottom: 20px;
	margin-right:100px;
  
}

#coke {
	position: absolute;
  	top: 25%;
  	left: 63.5%;
  	border-bottom: 100px solid #86381c;
    border-left: 75px solid #86381c;
    border-radius: 100px / 40px;
    width: 55px;	
}

#pudding {
	position:absolute;
	top:10%;
	left:17%;
	border-bottom: 150px solid hotpink;
    border-left: 100px solid hotpink;
    border-radius: 100px / 40px;
    width: 70px;
    z-index: 10;
}

